body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background: #1a1a1a;
    margin: 0;
    color: #fff;
    font-family: Arial, sans-serif;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.glass-container {
    position: relative;
    width: calc(50% - 10px); /* Adjust width to fit two containers with margin */
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    overflow: hidden;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2), 0 0 10px rgba(255, 255, 255, 0.3);
    animation: fadeIn 2s ease-out;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    margin-right: 20px; /* Adjust margin between containers */
}

.glass-content {
    color: #ffdf80;
    width: 100%;
    flex-grow: 1;
    padding-top: 60px; /* Adjusted to ensure profile picture is fully inside the box */
    box-sizing: border-box;
    overflow-y: auto;
    text-align: left;
}

.glass-content h1, .glass-content h3, .glass-content p {
    margin: 0;
    margin-bottom: 10px;
}

.glass-content p {
    font-size: 14px;
    opacity: 0.8;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 599px) {
    .glass-container {
        width: 100%; /* Full width on smaller screens */
        margin-right: 0;
        margin-bottom: 20px;
    }
}
